* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #FF6347;
}

body {
    background-color: #FFE4E1;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px 30px 90px;
    background-color: #fff;
    box-shadow: 0px 10px 30px 0px rgba(97, 93, 101, 0.4);
}

.header-left {
    display: flex;
    align-items: center;
    color: var(--main-color);
}

i {
    font-size: 40px;
}

.header-right a {
    margin-left: 5px;
    text-decoration: none;
    color: #444;
    font-size: 19px;
    transition: cubic-bezier(0.47, 0, 0.745, 0.715);
}

.header-right a:hover {
    color: red;
}

main {
    margin-top: 70px;
}

main h1 {
    color: var(--main-color);
    text-align: center;
    margin-bottom: 60px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

main form {
    width: 400px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
}

main form .d1,
main form .d2,
main form .d3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
}

main form label {
    margin-bottom: 5px;
    align-self: flex-start;
    margin-left: 10%;
    /* Matches the 80% width offset */
}

main form input,
textarea {
    width: 80%;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    padding-left: 10px;
}

main form input {
    height: 40px;
}

main form textarea {
    height: 120px;
    padding-top: 10px;
}

main form .submit {
    background-color: var(--main-color);
    color: white;
    font-size: 15px;
}



.right-content h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.email,
.phone-number,
.location {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.email i,
.phone-number i,
.location i{
    color:var(--main-color);
    font-size: 25px;
}
.email p,
.phone-number p,
.location p{
    color: #444;
    font-size: 18px;
}